.assetList .header input{
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  width: 165px;
}


.assetList .header button{
  padding: 10px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  font-size: 16px;
  border: 2px solid #0066FF;
}


.assetList .header button:hover{
  background-color: #003399;
  cursor: pointer;
}


.assetList .theList li{
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;

  transition: background-color .2s ease-out;
}

.assetList .theList li:hover{

  background-color: pink;
}
ul.theList{
  padding: 0px;
}
